html {
    scroll-behavior: smooth;
}
body{
    background: rgb(117, 157, 170);
    font-family: "Nunito", sans-serif;
}
.blurb h2{
    color: #2679bd;
    font-weight: 150;
    font-size: 2.5rem;
}
.blurb p{
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: black;
}
#mainNavbar .nav-link:hover{
    color: #064980;
}
#mainNavbar .navbar-brand{
    color: #064980;
    font-size: 1.5rem;
}
.navbar.scrolled{
    background: rgb(201, 201, 218);
    transition: background 500ms;
}
.pg-end{
    width: 100%;
    border: 2px solid #323f64;
}
hr{
    width: 50%;
    border: 1px solid #141313;
}
#lp{
    max-width:100%;
    height:auto;
}
.bottom-right{
    position: absolute;
    top: 30%;
    right: 10%;
    font-size-adjust: 0.58;
}
h1{
    color: #395b83;
}
fieldset{
    border-spacing: 10px;
}
label{
    color: #f498b8;
}
input{
    border-radius:15px;
}
#att{
    color: red;
}
span{
    color: #db1e2e;
}
.black{
    color: black;
}
.im{
    height: 400px;
    width: 500px;
}