html {
    scroll-behavior: smooth;
}
body{
    background: rgb(117, 157, 170);
    font-family: "Nunito", sans-serif;
}
.blurb h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:#212324;
}
#mainNavbar .nav-link:hover{
    color: #db1e2e;
}
#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
}
.navbar.scrolled{
    background: rgb(190, 159, 190);
    transition: background 500ms;
}
section{
    background-color: #414647;
    border-radius: 15%;
}
hr{
    width: 50%;
    border: 1px solid #ea1c2c;
}
#lp{
    max-width:100%;
    height:auto;
}
.bottom-right{
    position: absolute;
    top: 30%;
    right: 10%;
    font-size-adjust: 0.58;
}
h1{
    color: #f498b8;
}
fieldset{
    border-spacing: 10px;
}
label{
    color: #f498b8;
}
input{
    border-radius:25px;
}
#att{
    color: red;
}
span{
    color: #db1e2e;
}